$font-default: Hilda, Arial, Helvetica, sans-serif;

$text-extra-small: 9px;
$text-medium-small: 10px;
$text-small: 11px;
$text-medium-regular: 12px;
$text-medium: 13px;
$text-regular: 14px;
$text-regular-medium: 16px;
$text-medium-large: 18px;
$text-large-small: 19px;
$text-large: 20px;
$text-regular-large: 21px;
$text-regular-large-plus: 22px;
$text-regular-xx-large: 24px;
$text-large-plus: 25px;
$text-xx-large: 35px;
$text-extra-large: 50px;

$text-regular-small: 1.3rem;
$text-regular-55: 0.55rem;
$text-regular-68: 0.68rem;
$text-regular-75: 0.75rem;
$text-regular-70: 0.70rem;
$text-regular-80: 0.80rem;
$text-regular-85: 0.85rem;
$text-regular-90: 0.90rem;
$text-regular-120: 1.2rem;
$text-regular-125: 1.25rem;
$text-regular-100: 1rem;
$text-regular-180: 1.8rem;
$text-regular-200: 2rem;
$text-regular-230: 2.3rem;

$text-line-height-normal: 1.3rem;
$text-line-height-mid: 1.2rem;
$text-line-height-small: 1rem;
$text-line-height-medium: 1.5rem;
$text-line-height-large: 1.8rem;
$text-line-height-xsmall: 0.9375rem;
$text-line-height-875: 0.875em;
$text-line-height-xxsmall: 0.5em;
$text-line-height-larger: 2.5em;
$text-line-height-xlarge: 3em;

$font-weight-black: 900;
$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-light: 600;
$font-weight-lighter: 500;
$font-weight-thin: 300;

$font-style-italic: italic;
$font-style-normal: normal;
